/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
}

h1{
    font-size: 2em;
    text-align: center;
}

.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 30%;
}

.accordion-content-title{
    width: 100%;
    margin: 0.5em 0;
    cursor: pointer;
    background-image: url(./mems/accordion-btn.svg);
    background-repeat: no-repeat;
    background-position: right center;
    transition: 0.7s all linear;
}

.icon{
    text-align: right;
}

input[type="radio"]{
    display: none; 
}

.accordion-content{
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    transition: 0.7s all linear;
}


input[type="radio"]:checked + .accordion-content-title + .accordion-content{
    max-height: 50em;
    opacity: 1;
}

input[type="radio"]:checked + .accordion-content-title {
    background-image: url(./mems/accordion-btn-up.svg);
}


@media screen and (max-width: 820px){
    body{
        font-size: 1.2em;
    }

    h1{
        font-size: 1.7em;
    }

    .accordion{
        width: 50%;
    }
}

@media screen and (max-width: 320px){
    body{
        font-size: 1em;
    }

    h1{
        font-size: 1.4em;
    }

    .accordion{
        width: 90%;
    }
}

@media (hover: hover){
    .accordion:hover > .accordion-content-title{
        color: gray;
    }

    .accordion-content-title:hover{
        background-image: url(./mems/accordion-btn-up.svg);
    }

    
input[type="radio"]:hover + .accordion-content-title + .accordion-content{
    max-height: 50em;
    opacity: 1;
}

.accordion-content:hover{
    max-height: 50em;
    opacity: 1;
    transition: 0.7s all linear;
}

.accordion-content-title:hover > .accordion-content{
    max-height: 50em;
    opacity: 1;
}
}